body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*=============MENU=================*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

/*CARROUSE IMAGINES*/

.carrouse-inner{
    max-height: 39rem;
}

/*=============MENU=================*/



/*=============MENU=================*/



/*=============MENU=================*/




/*=============MEDIA QUERIES PANTALLA SM=================*/
@media(max-width:768p){
    #intro,#equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
    }
}


/*=============Transition=================*/

.item-1{
    background-color: tomato;
    width: 200px;
    height: 200px;
    margin: 200px;
    transition-duration: 2s;
    
}

.item-1:hover{
    background-color: steelblue;
    width: 900px;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.redes a{
    text-decoration: none;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(max-width:570px){
    .item-1{
        width: 40%;
    }
}
