body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*=============MENU=================*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

/*CARROUSE IMAGINES*/

.carrouse-inner{
    max-height: 39rem;
}

/*=============MENU=================*/



/*=============MENU=================*/



/*=============MENU=================*/




/*=============MEDIA QUERIES PANTALLA SM=================*/
@media(max-width:768p){
    #intro,#equipo{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
    }
}


/*=============MENU=================*/